/*Main page layout*/
body {
    background-image: url('../images/acqindex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 100%;
}

.center {
    float: right;
    margin-right: 50%;
    width:50%;
    padding:5vh 5vw 5vh 5vw;
    height:50%;
}

/*Menu bar at top of screen for navigation to sections*/
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f2ae72;
    position: fixed;
    height: auto;
    overflow: auto;
    margin-top: -80vh;
}

ul.sidenav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

    ul.sidenav li a.active {
        background-color: #f2e394;
        color: black;
    }

    ul.sidenav li a:hover:not(.active) {
        background-color: #d96459;
        color: white;
    }

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 1100px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
        margin-top:0;
    }

    ul.sidenav li a {
        float: left;
        padding: 15px;
    }

    div.content {
        margin-left: 0;
    }

    .docScroller {
        width: 100vw;
        margin-top: 80vh;
        height: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100%);
        scroll-snap-type: mandatory;
        scroll-snap-destination: 100% 0%;
        margin-inline-start: 5%;
        margin-inline-end: 5%;
      
    }
    
    iframe.spotify {
        position: relative;
        border: none;
        margin-left:0vw;
        z-index: 0;
        margin-top:10vh;
        float: left;

    }

}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
    .docScroller {
        width: 100%;
        margin-top: 50vh;
        height: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100%);
        scroll-snap-type: mandatory;
        scroll-snap-destination: 100% 0%;
        margin-inline-start: 0%;
        margin-inline-end: 0%;
      
    }
}

/*DocScroller for different Sections*/
.docScroller {
    overflow-x: visible;
    width: auto;
    height: 100%;
    padding-bottom: 5vh;
    margin-top: 80vh;
    margin-inline-start: 30%;
    margin-inline-end: 5%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0%;
}
p {
    text-align: left;
    color: #d6cbd3;
    font-size: 0.6em;
    z-index: 5;

}

.links {
    margin: 0 0 0 14vw;
    position: absolute;
    display: inline-flex;
    color: #d6cbd3;
    font-size: 0.6em;
}

a.facebook {
    margin: 0 0 0 -3vw;
    position: absolute;
    display: inline-flex;
    padding: 3vh 3vw 3vh 3vw;
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}

iframe.spotify {
    display: block;
    border: none;
    margin-left:10vw;
    margin-top:-80vh;
    position:fixed;
    z-index: 10;
}

#bands {
    float: right;
    padding: 1vh 1vw;
    margin-right: 30%;
    width: 50%;
    height: 50%;
    
}


h1 {
    color: #424141;
    text-align: center;
}

h2 {
    color: #f2e394;
    text-align: left;
}

ul.groups {
    list-style-type: none;
    text-align: left;
}


.inside {
    margin: 5vh 5vw 5vh 5vw;
}

.one {
    background-color: #588c7e;
   
}

.two {
   background: #f7786b;

}

.three {
    background: #77a8a8;

}

.four {
    background-color: #588c7e;
}

.five {
    background: #f7786b;
}

.six {
    background: #77a8a8;
}

.seven {
    background-color: #588c7e;
}

.eight {
    background: #f7786b;
}